extends layout

block content
  h1 #{title}: #{team.title}
  p= team.summary 

  p Do you really want to delete this Team?

  form(method='POST' action='')
    div.form-group
      input#teamid.form-control(type='hidden', name='teamid', required='true', value=team._id)

    button.btn.btn-primary(type='submit') Delete
